<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css">
<link rel="stylesheet" href="../css/admin.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="body" id="app">
	<div class="layui-form" style="width:500px;">
        <div class="layui-form-item">
			<label class="layui-form-label">输入框</label>
			<div class="layui-input-block">
				<input type="text" name="title" v-model="user.title" lay-verify="required" placeholder="请输入标题" class="layui-input">
			</div>
        </div>
        <div class="layui-form-item">
			<label class="layui-form-label">密码框</label>
			<div class="layui-input-inline">
				<input type="password" name="password" v-model="user.password" lay-verify="required" placeholder="请输入密码" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">辅助文字</div>
        </div>
        <div class="layui-form-item">
			<label class="layui-form-label">选择框</label>
			<div class="layui-input-block">
				<select name="city" lay-verify="required">
					<option value=""></option>
					<option value="北京">北京</option>
					<option value="上海">上海</option>
					<option value="广州">广州</option>
					<option value="深圳">深圳</option>
					<option value="杭州">杭州</option>
				</select>
			</div>
        </div>
        <div class="layui-form-item">
			<label class="layui-form-label">复选框</label>
			<div class="layui-input-block">
				<input type="checkbox" name="like" value="写作" title="写作" lay-skin="primary">
				<input type="checkbox" name="like" value="阅读" title="阅读" lay-skin="primary">
				<input type="checkbox" name="like" value="发呆" title="发呆" lay-skin="primary">
			</div>
		</div>
        <div class="layui-form-item">
			<label class="layui-form-label">开关</label>
			<div class="layui-input-block">
				<input type="checkbox" name="switch" lay-skin="switch" lay-filter="switch" lay-text="ON|OFF">
			</div>
        </div>
        <div class="layui-form-item">
			<label class="layui-form-label">单选框</label>
			<div class="layui-input-block">
				<input type="radio" name="sex" value="男" title="男">
				<input type="radio" name="sex" value="女" title="女">
			</div>
        </div>
        <div class="layui-form-item">
			<label class="layui-form-label">文本域</label>
			<div class="layui-input-block">
				<textarea name="desc" v-model="user.desc" lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
			</div>
        </div>
        <div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-primary" v-on:click="closeWin()">取消</button>
				<button class="layui-btn" lay-submit lay-filter="submit">提交</button>
			</div>
        </div>
     </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../layuiadmin/layui/layui.js"></script>
<script type="text/javascript" src="../../js/vue.js"></script>
<script type="text/javascript">
var app = new Vue({
	el: '#app',
	data: {
		user: {}
	},
	methods: {
		closeWin: function() {
    		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    		parent.layer.close(index);
    	}
	}
});
</script>
<script>
layui.config({
	base: '../../layuiadmin/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','form'], function(){
	let form = layui.form;
	
	if(layui.data("temp").user) {
		app.user = layui.data("temp").user;
		layui.data("temp",null);
		$("select[name='city']").val(app.user.city);
		$("input[name='like']").val(app.user.like);
		$("input[name='switch']").attr("checked",app.user.switch==1?true:false);
		$("input[name='sex'][value='"+app.user.sex+"']").attr("checked",true);
	}

	form.render();
	form.on('submit(submit)', function(data){
		field = data.field; //获取提交的字段
		
		app.user.city = field.city;
		app.user.like = [];
		$("input[name='like']:checked").each(function() {
		   app.user.like.push($(this).val());
		});
		app.user.sex = field.sex;
		app.user.switch = $("input[name='switch']").next().hasClass("layui-form-onswitch")?1:0;
		
		console.log(app.user);
		//ajax
		//layer.msg("保存失败",{icon:2,time:1500});
		layer.msg("保存成功",{icon:1,time:1500},function(){
			layui.data("temp",{key:"user",value:app.user});
			app.closeWin();
		});
  	});
});
</script>
</body>
</html>